apiVersion: v1
kind: Secret
metadata:
  name: metacatalog-db-credentials
  namespace: applications
  labels:
    app.kubernetes.io/name: metacatalog
    app.kubernetes.io/component: database
type: kubernetes.io/basic-auth
stringData:
  username: metacatalog
  password: REPLACE_WITH_SECURE_PASSWORD